.pacman-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pacman-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.state {
  font-size: large;
  margin: 0;
}

.state span {
  color: orangered;
  font-weight: bold;
}

.state-viewer {
  padding: 12px;
  min-width: 300px;
}
