:root {
  --background-color: #2d2d2d;
  --floor: #d6d1d1;
  --enemy: #ff0000;
  --weapon: #f3f70c;
  --potion: hotpink;
  --player: #fc8d8d;
  --exit: #00b9f1;
  --boss: #c447e0;
  --info-bg: beige;
  --weapon-icon: blue;

  --color: 0, 100%; /*the base color*/
  --l: 50%; /*the initial lightness*/

  --color-primary: hsl(var(--color), var(--l));
  --color-primary-darker: hsl(var(--color), calc(var(--l) - 5%));
  --color-primary-darkest: hsl(var(--color), calc(var(--l) - 10%));
}

.weapon-fill {
  background-color: var(--weapon-icon);
  -webkit-mask: url(../src/assets/weapon.svg) no-repeat center;
  mask: url(../src/assets/weapon.svg) no-repeat center;
}

.heart-fill {
  background-color: var(--enemy);
  -webkit-mask: url(../src/assets/health.svg) no-repeat center;
  mask: url(../src/assets/health.svg) no-repeat center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border: 5px orange dashed;
}

.app {
  display: flex;
  justify-content: center;
}

.push-right {
  margin-right: auto;
}
.info-data {
  padding-left: 3px;
}

.state-viewer {
  display: flex;
  flex-direction: column;
  background-color: var(--info-bg);
  border: 3px red dashed;
}

.player-info {
  display: flex;
  background-color: var(--info-bg);
  /* padding-top: 9px;
  padding-left: 6px;
  padding-right: 6px; */
}

.game-info {
  display: flex;
  background-color: var(--info-bg);

  justify-content: center;
  align-items: center;
}
.info-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon-box {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  color: red;
}

.flex-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  position: relative;
  border: 2px limegreen dashed;
}

.cell {
  height: 1em;
  width: 1em;
  border: 1px solid #2d2d2d;
  background: #78d376;
}

.floor {
  background: #d6d1d1;
  border: 1px solid lighten(#d6d1d1, 2%);
}
.door {
  background: red;
}
.enemy {
  background: var(--enemy);
}

.weapon {
  background: var(--weapon);
}

/* .weapon-fill {
  background-color: var(--player);
  -webkit-mask: url(/assets/weapon.svg) no-repeat center;
  mask: url(/assets/weapon.svg) no-repeat center;
} */

.player {
  background: var(--player);
}

.potion {
  background: var(--potion);
}

.exit {
  background: var(--exit);
}

.boss {
  background: var(--boss);
}
